# <font color='green'> G]. Looping Statement-I:

### 1. Printing hello python 10 times:

__Q:__ Write a program to print hello python 10 times.

In [1]:
for i in range(1,11):
    print(f'{i}. Hello Python')

1. Hello Python
2. Hello Python
3. Hello Python
4. Hello Python
5. Hello Python
6. Hello Python
7. Hello Python
8. Hello Python
9. Hello Python
10. Hello Python

### 2. Printing numbers from 1-10:

__Q:__ Write a program to print number from 1 to 10.

In [2]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

### 3. Printing the sum of first 10 numbers:

__Q:__ Write a program to print the sum of first ten numbers.

In [3]:
total=0
for num in range(1,11):
    total+=num
print('The sum of first 10 numbers is ', total)

The sum of first 10 numbers is  55

### 4. Printing n number entered by the user:

__Q:__ Write a program to print n numbers entered by the user.

In [4]:
n = int(input("Enter a number: "))

for i in range(1, n+1):
    print(i)

Enter a number: 5
1
2
3
4
5

### 5. Printing sum of n numbers:

__Q:__ Write a program to print sum of n numbers.

In [5]:
n = int(input("Enter a number: "))
total=0
for i in range(1,n+1):
    total+=i
print(f'The sum of all the numbers till {n} is {total}.')

Enter a number: 10
The sum of all the numbers till 10 is 55.

In [6]:
#another way:
n = int(input("Enter the number of elements to be added: "))
sum = 0

for i in range(n):
    num = float(input("Enter a number: "))
    sum += num

print("The sum of the", n, "numbers is", sum)

Enter the number of elements to be added: 5
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 4
The sum of the 5 numbers is 14.0

### 6. Printing the table of a number:

__Q:__ Write a program to print table of a number.

In [7]:
n = int(input('Enter the number for which you want a table: '))

for i in range(1,11):
    print(f'{n} x {i} = {n*i}')

Enter the number for which you want a table: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

### 7. Calculating the factorial of a number:

__Q:__ Write a program to calculate the factorial of a number.

In [8]:
n = int(input('Enter a number: '))

fact=1

for i in range(1, n+1):
    fact*=i
print("The factorial of", n, "is", fact)

Enter a number: 5
The factorial of 5 is 120

### 8. Printing even numbers from 1-100:

__Q:__ Write a program to print even numbers between 1-100.

In [9]:
even_nos=[]
for i in range(1,101):
    if i%2==0:
        even_nos.append(i)
        
print(f'Even numbers from 1-100:\n{even_nos}')

Even numbers from 1-100:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

### 9. Printing all the odd numbers from 1-100:

__Q:__ Write a program to print odd numbers between 1-100.

In [10]:
odd_nos=[]
for i in range(1,101):
    if i%2!=0:
        odd_nos.append(i)
        
print(f'Odd numbers from 1-100:\n{odd_nos}')

Odd numbers from 1-100:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]