# <span style='color:green'> L]. Looping Statement - IV </span>

## 1. Printing numbers divisible of 7, multiple of 5 from (1000 to 2000):

__Q:__ Write a program to find those numbers which are divisible by 7 and multiple of 5, between 1000 and 2000.

In [2]:
my_list = []
for number in range(1000, 2001):
    if number % 7 == 0 and number % 5 == 0:
        my_list.append(number)
        
print(my_list)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

## 2. Printing number pattern using loops:

__Q:__ Write a program to pring the various given number patterns using loops.

### Type-1:

In [3]:
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234
12345

### Type-2:

In [4]:
rows = 5

for i in range(1, rows + 1):
    # Print leading spaces for each row
    for _ in range(1, i):
        print(" ", end='')

    # Print numbers for each row
    for j in range(1, i + 1):
        print(i, end='')

    print()

1
 22
  333
   4444
    55555

### Type-3:

In [6]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(rows, rows - i, -1):
        print(j, end='')
    print()

54321
5432
543
54
5

### Type-4:

In [7]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

12345
1234
123
12
1

### Type-5:

In [8]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(i, 0, -1):
        print(j, end='')
    print()

54321
4321
321
21
1